
.users{
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #333;
    border: 1px solid #aaa;
    border-radius: 11px;
    overflow: hidden;
}

.users-list{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: #eee;
    padding: 0.8rem 1.6rem;
}

